{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" id="body" data-template="base.twig">
		<div class="container-fluid">
		<header class="header" >
			{% block header %}
				<div class="container">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="" role="navigation">
						<ul class="">
						{% for item in menu.get_items %}
							<li class=" {{item.classes | join(' ')}}" {% if item.get_children %}onmouseover="$('#children{{ item.post_name }}').show()" onmouseout="$('#children{{ item.post_name }}').hide()" {% endif %}>
								<a class="" href="{{item.get_link}}">{{item.title}}</a>
								{% if item.get_children %}
									<ul id="children{{ item.post_name }}" class="menu_children">
									{% for child in item.get_children %}
										<li class="">
											<a class="" href="{{child.get_link}}">{{child.title}}</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
							{% if not loop.last %}<div class="menu_slash">/</div>{% endif %}
						{% endfor %}
						</ul>
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<div class="container">
				<div class="col-xs-12 col-sm-4">
					<h4>{{ theme_options.footer_left_header }}</h4>
					<p>{{ theme_options.footer_left_text }}</p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>FAQs</h4>
					<p>
						{% for faq in faqs if not faq.faq_is_header %}
							{% if loop.index0 < 4 %}<a href="">{{ faq.title }}</a><br />{% endif %}
						{% endfor %}
					</p>
					<a href="{{ site.url }}/faq"><div class="gray_arrow_right">All FAQs</div></a>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4>Archives</h4>
					<p>
						{% for archive in archives %}
							<a href="{{ archive.link }}">{{ archive.title }}</a><br />
							{{ archive.display_date }}<br />
							<br />
						{% endfor %}
					</p>
					<a href="{{ site.url }}/"><div class="gray_arrow_right">Older posts</div></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="copyright">
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			</div>
		{% endblock %}
		</div>
		<script type="text/javascript">
			// open external links in new tab
			jQuery('#body').find('a').filter(function() {
				return this.hostname && this.hostname.indexOf(location.hostname)===-1 && this.hostname!="jonathan-coulton.myshopify.com";
			}).attr({
				target : "_blank"
			});
		</script>
	</body>
</html>