{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" id="body" data-template="base.twig">
		<div class="container-fluid">
		<header class="header" >
			{% block header %}
			<nav id="nav-main" class="navbar-fixed-top" role="navigation" {% if is_logged_in %} style="top: 32px;" {% endif %}>
				<div class="container">
					<ul class="">
						<li><a href="{{ site.url }}"><img src="{{ theme.link }}/images/JoCoLogo_min.svg" class="little_logo"></a></li>
						{% for item in menu.get_items %}
							<li class=" {{item.classes | join(' ')}}" {% if item.get_children %}onmouseover="$('#children{{ item.post_name }}').show()" onmouseout="$('#children{{ item.post_name }}').hide()" {% endif %}>
								<a class="" href="{{item.get_link}}">{{item.title}}</a>
								{% if item.get_children %}
									<ul id="children{{ item.post_name }}" class="menu_children">
									{% for child in item.get_children %}
										<li class="">
											<a class="" href="{{child.get_link}}">{{child.title}}</a>
										</li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
							{% if not loop.last %}<div class="menu_slash">/</div>{% endif %}
						{% endfor %}
						<div class="listen hidden-xs">
							{% if thisisthestore %}
								<a onclick="backControl()">
									<img src="{{ theme.link }}/images/back_black.svg" class="controls_backnext" />
								</a>
								<span data-bind="visible: !playing()">
									<a onclick="playControl()"><img src="{{ theme.link }}/images/play_black.svg" class="controls_playpause" /></a>
								</span>
								<span data-bind="visible: playing()">
									<a onclick="pauseSound()"><img src="{{ theme.link }}/images/pause_black.svg" class="controls_playpause" /></a>
								</span>
								<a onclick="nextControl()">
									<img src="{{ theme.link }}/images/next_black.svg" class="controls_backnext" />
								</a>
								<div data-bind="text: current_song_title" class="controls_title"></div>
							{% else %}
								<div class="listen_now">
									<a href="{{ site.url }}/store/#downloads">
										Listen now
										<img src="{{ theme.link }}/images/play_circle_black.svg" style="height: 20px;" />
									</a>
								</div>
							{% endif %}
						</div>
						<div class="clearfix"></div>
					</ul>
				</div>
				{% block second_header %}
				{% endblock %}
			</nav><!-- #nav -->
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}} page-{{ post.slug }}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<div class="dark_content footer">
				<div class="container">
					<div class="col-xs-12 col-sm-4 footer_block">
						<h4 class="footer_title">{{ theme_options.footer_left_header }}</h4>
						<p>{{ theme_options.footer_left_text }}</p>
					</div>
					<div class="col-xs-12 col-sm-4 footer_block">
						<h4 class="footer_title">FAQs</h4>
						<p>
							{% for faq in faqs if not faq.faq_is_header %}
								{% if loop.index0 < 4 %}
									<div class="footer_item"><a href="{{ site.url }}/faq/#{{ faq.slug }}" class="footer_link">{{ faq.title }}</a></div>
								{% endif %}
							{% endfor %}
						</p>
						<a href="{{ site.url }}/faq" class="no_underline"><div class="gray_arrow_right">All FAQs</div></a>
					</div>
					<div class="col-xs-12 col-sm-4 footer_block">
						<h4 class="footer_title">Archives</h4>
						<p>
							{% for archive in archives %}
								<div class="footer_item">
									<a href="{{ archive.link }}" class="footer_link">{{ archive.title }}</a><br />
									{{ archive.display_date }}
								</div>
							{% endfor %}
						</p>
						<a href="{{ site.url }}/news" class="no_underline"><div class="gray_arrow_right">Older posts</div></a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="copyright">
				<footer id="footer">
					{% include 'footer.twig' %}
				</footer>
				{{ function('wp_footer') }}
			</div>
		{% endblock %}
		</div>
		<script type="text/javascript">
			var resize_tasks = function() {
				var nav_height = $('#nav-main').height();
				$('.header').height(nav_height);
				$('.track_title').width($('.track_row').width() - 170);
			};
			$(window).resize(resize_tasks);

			resize_tasks();
			var nav_height = $('#nav-main').height();
			$('.anchor').css({ top: -nav_height+'px' });
			// open external links in new tab
			jQuery('#body').find('a').filter(function() {
				return this.hostname && this.hostname.indexOf(location.hostname)===-1 && this.hostname!="jonathan-coulton.myshopify.com";
			}).attr({
				target : "_blank"
			});
		</script>


		<div id="mailingListPrompt" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Sign Up for the Jonathan Coulton Mailing List!</h4>
					</div>
					<div class="modal-body">
						<p>
							We'll send you four free tracks to start,
							we'll never give your address to others,
							and we'll make sure you know about the latest
							news and upcoming concerts.
						</p>
						<form action="http://jonathancoulton.us1.list-manage.com/subscribe/post?u=87b55ca91b624feed8dbc516d&amp;id=05220760c5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="text" name="EMAIL" tabIndex="1" style="margin: 20px auto; width: 100%;">
							<div>
								<button class="option dismiss">
									Dismiss
								</button>
								<button class="option signup">
									Sign Up!
								</button>
							</div>
							<div style="color: #f00;" id="signuperror"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			window.onhashchange=function(){if(location.hash === "#mailinglist")showSignUp();};
			var emlre = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
			//$j = jQuery.noConflict();
			function showSignUp() {
				$('#mailingListPrompt').modal('show');
				$('#mailingListPrompt input[name=EMAIL]').focus();
			}

			function hideSignUp() {
				$('#mailingListPrompt').modal('hide');
				//$('#mailingListPrompt input[name=EMAIL]').focus();
			}

			function hideForever() {
				$.cookie('shouldShowMailingListPrompt', 'false', {
					expires : 365, // hope no one minds seeing this every year
					path : '/',
				});

			}

			function hideTemporarily() {
				$.cookie('shouldShowMailingListPrompt', 'delay', {
					expires : 30,
					path : '/',
				});
			}

			function seemsToSupportCookies() {
				$.cookie('jsCookieTest', 'jsCookieTest', {
					expires : 1,
					path : '/',
				});

				// returns true if present...
				return $.removeCookie('jsCookieTest');
				;
			}


			$(document).ready(function() {

				if((seemsToSupportCookies() || (Math.floor(Math.random() * 101) == 100)) && $.cookie('shouldShowMailingListPrompt') === undefined) {
					// bind signup button handlers

					showSignUp();

				}

				$('#mailingListPrompt button.signup').click(function(e) {
					e.preventDefault();
					var eml = $('#mailingListPrompt input[name=EMAIL]').val();
					if(!eml.match(emlre)) {
						//alert("Sorry that doesn't appear to be a valid email address. Please check it and try signing up again!");
						$('#signuperror').text("Sorry that doesn't appear to be a valid email address. Please check it and try signing up again!");
						$('#mailingListPrompt input[name=EMAIL]').focus();
						return;
					}
					$(this).parents('form')[0].submit();
					hideSignUp();
					hideForever();
				});
				$('#mailingListPrompt button.dismiss').click(function(e) {
					e.preventDefault();
					hideSignUp();
					hideTemporarily();
				});
				$('#mailingListPrompt button.close').click(function(e) {
					hideTemporarily();
				});

				$('#mailingListPrompt input[name=EMAIL]').keypress(function(e) {
					if(e.which == 13) {
						e.preventDefault();
						$('#mailingListPrompt button.signup').click();
						return false;
					}
				});

			});

		</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount','UA-80929-2']);
			_gaq.push(['_trackPageview'],['_trackPageLoadTime']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</body>
</html>