{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="col-xs-12">
			<h1 class="hdr-logo col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" role="banner">
				<a class="hdr-logo-link" href="{{ site.url }}" rel="home"><img src="{{ theme.link }}/images/JoCoLogo.svg" style="width: 100%" /></a>
			</h1>
			<div class="clearfix"></div>
			<div data-slick='{"slidesToShow": 4, "slidesToScroll": 1}' class="slick-element showcase_tiles">
				{% for tile in showcase_tiles %}
					<div class="showcase_tile">
						{% if tile.tile_link %}<a href="{{ tile.tile_link }}">{% endif %}
							<div class="joco-promo" style="
									{% if tile.background_color %}background-color: {{ tile.background_color }};{% endif %}
									{% if tile.bottom_border_color %}border-bottom: solid 10px {{ tile.bottom_border_color }};{% endif %}
									">
								{% if tile.thumbnail %}
									<img src="{{ tile.thumbnail.src }}" class="promo-image" />
								{% else %}
									<div class="promo-text">
										<h2 class="{{ tile.header_font }}"{% if tile.header_color %} style="color: {{ tile.header_color }}"{% endif %}>{{ tile.title }}</h2>
										<p class="{{ tile.body_font }}"{% if tile.body_color %} style="color: {{ tile.body_color }}"{% endif %}>{{ tile.post_content }}</p>
									</div>
								{% endif %}
							</div>
						{% if tile.tile_link %}</a>{% endif %}
					</div>
				{% endfor %}
			</div>
			<script>
				$(window).resize(function() {
					$(".joco-promo").height($(".joco-promo").width());
				});
			</script>
		</div>
		<div class="col-xs-12 col-sm-8">
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		</div>
		<div class="hidden-xs col-sm-4">
			<div class="side_box twitter">
				<h5 class="side_header">Previously, on Twitter</h5>
				{% if twitter.tweets %}
					{% for tweet in twitter.tweets %}
						<div class="tweet_text">{{ tweet.text }}</div>
						<a href="{{ tweet.url }}" target="_blank" class="tweet_link">{{ tweet.ago }} ago</a>
					{% endfor %}
					<a href="{{ twitter.url }}" target="_blank" class="twitter_link">@{{ twitter.handle }}</a>
				{% endif %}
			</div>
			<div class="side_box instagram">
				<h5 class="side_header">On Instagram</h5>
				{% if instagram.media %}
					{% for medium in instagram.media %}
						<a href="{{ medium.link }}" target="_blank">
							<img src="{{ medium.thumb }}" />
						</a>
					{% endfor %}
					<a href="{{ instagram.url }}" target="_blank">@{{ instagram.handle }}</a>
				{% endif %}
			</div>
			<!--<div><script type="text/javascript" src="https://cashmusic.org/public/cashmusic.js"></script><script type="text/javascript"> window.cashmusic.embed('https://cashmusic.org/public','6959');</script></div>-->
			<div class="side_box social_media">
				<h5 class="side_header">Follow Jonathan</h5>
				{% if twitter.url %}<a href="{{ twitter.url }}" target="_blank">Twitter</a>{% endif %}
				{% if instagram.url %}<a href="{{ instagram.url }}" target="_blank">Instagram</a>{% endif %}
				{% if facebook_link %}<a href="{{ facebook_link }}" target="_blank">Facebook</a>{% endif %}
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="light_content">
		<div class="container">
			<div class="col-lg-10 col-lg-offset-1 col-xs-12">
				<h1 class="section_header">{{ blurb_header }}</h1>
				<p class="featured-p">{{ blurb_content|striptags }}</p>
				<a href="{{ site.url }}/store/?store_section=downloads"><div class="blue_arrow_right center-block">Click for more music</div></a>
			</div>
		</div>
	</div>
	<div class="dark_content">
		<div class="container">
			<h2 class="section_header">Recent releases</h2>
			<p class="featured-p"></p>
		</div>
	</div>
	<div class="light_content">
		<div class="container">
			<h2 class="section_header">Upcoming shows</h2>
			<p class="featured-p">
			{% for show in bandsintown|slice(0,6) %}
				<div class="show_row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<div class="col-xs-2"><a href="{{ show.url }}">{{ show.datetime|date("M j") }}</a></div>
					<div class="col-xs-8"><a href="{{ show.venue.url }}">
						<!--Cute way of adding an "I'm feeling lucky" link for the venue: <a href="http://www.google.com/search?q={{ show.venue.name|url_encode }}+{{ show.venue.city|url_encode }}+{{ show.venue.region|url_encode }}&btnI=1">-->
							<span class="venue_name">{{ show.venue.name }}</span><br />{{ show.venue.city }}, {{ show.venue.region }}</a></div>
					<div class="col-xs-2">
						<a href="{{ show.ticket_url|default(show.url) }}">
							{% if show.ticket_status=="available" %}Tickets{% else %}Details{% endif %}
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			{% endfor %}
			</p>
		</div>
	</div>
{% endblock %}