{% macro stop_warning(text,text2) %}
    <span style="color: red;">{{ text|default('Warning!') }}{{ text2 }}</span>
{% endmacro %}
{% macro go_warning(text,text2) %}
    <span style="color: #c80;">{{ text|default('Warning!') }}{{ text2 }}</span>
{% endmacro %}
{% macro good_warning(text,text2) %}
    <span style="color: green;">{{ text|default('Warning!') }}{{ text2 }}</span>
{% endmacro %}
{% import _self as macros %}
{% include 'html-header.twig' %}
	{% block head %}
    {% endblock %}
    <style>
        .instruction {
            margin: 40px;
            font-size: 24px;
        }
        .admin_album, .admin_zip, .admin_track, .admin_encode, .admin_bonus {
            margin-left: 20px;
        }
        .admin_album, .admin_track, .admin_bonus {
            padding: 5px;
        }
        .admin_album {
            margin-bottom: 20px;
            background-color: #ddd;
        }
        .admin_track {
            margin-bottom: 10px;
            background-color: #bbb;
        }
    </style>
    </head>

    <body class="{{body_class}}" data-template="base.twig">
        <div class="container">
            <h1>Manage audio file encoding and store syncing</h1>
            <div><a href="{{ site.url }}/custom_admin/music_admin/">Return to album list</a></div>
            {% set warning_level = 'green' %}
            {% for album in albums %}
                {% if (not album.art.exists) or (not album.encode_worthy) or (not album.show_album) or album.sort_order_conflict %}
                    {% set warning_level = 'red' %}
                {% endif %}
                {% for zip in album.album_zips %}
                    {% if (not (warning_level == 'red')) and ((not zip.zip_worthy) or zip.missing_encodes or (not zip.exists) or zip.need_to_upload) %}
                        {% set warning_level = 'orange' %}
                    {% endif %}
                {% endfor %}
                {% for track in album.tracks %}
                    {% if (not track.art.exists) or (not track.source.exists) or (not track.encode_worthy) or track.track_num_conflict %}
                        {% set warning_level = 'red' %}
                    {% endif %}
                    {% for encode in track.encodes %}
                        {% if (not (warning_level == 'red')) and ((not encode.exists) or encode.need_to_upload) %}
                            {% set warning_level = 'orange' %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <div class="instruction">
                {% if warning_level == 'red' %}
                    Please read the {{ macros.stop_warning("Red warnings") }} below and edit the relevant
                    <a href="{{ site.url }}/wp-admin/edit.php?post_type=album">albums</a> or <a href="{{ site.url }}/wp-admin/edit.php?post_type=track">tracks</a> in Wordpress.
                {% elseif warning_level == 'orange' %}
                    {{ macros.go_warning("Orange warnings") }} below mean you are missing encoded audio and/or zip files.<br /><br />
                    <button onclick="window.location.href='{{ site.url }}/custom_admin/postencodes{{ post_id_get_string }}'">Create encodes and zips</button> <br />
                    You will probably got a 502 timeout error, but you can reload the page as many times as you need to for it to get through all the tracks.
                {% else %}
                    It appears all your music files are ready to go.
                    <a href="{{ site.url }}/custom_admin/music_admin/">Return to album list</a> to encode another album or sync download offerings to Shopify.
                {% endif %}
            </div>
            {% for album in albums %}
                <div class="admin_album">
                    Title: {{ album.title }} <br />
                    Artist: {{ album.artist }} <br />
                    Art: {% if album.art.exists %} {{ album.art.filename }} {% else %} {{ macros.stop_warning('ART MISSING!') }} {% endif %} <br />
                    Sort Order: {{ album.sort_order }} <br />
                    {% if not album.encode_worthy %} {{ macros.stop_warning('NOT ENCODE WORTHY!') }} <br /> {% endif %}
                    {% if not album.show_album %} {{ macros.stop_warning('NOT MARKED AS READY!') }} <br /> {% endif %}
                    {% if album.sort_order_conflict %} {{ macros.stop_warning('SAME SORT ORDER VALUE AS ',album.sort_order_conflict_album) }} <br /> {% endif %}
                    Zips:
                    {% for zip in album.album_zips %}
                        <div class="admin_zip">
                            {{ dump(zip) }}
                            {% if not zip.exists %} {{ macros.go_warning(zip.format,' zip non-existent!') }} {% endif %}
                            {% if zip.exists %} {{ macros.good_warning(zip.format," zip good to go.") }} {% endif %}
                            {% if not zip.zip_worthy %} {{ macros.go_warning(zip.format," zip not zip-worthy!") }} {% endif %}
                            {% if zip.missing_encodes %} {{ macros.go_warning(zip.format," encodes missing!") }} {% endif %}
                            {% if zip.need_to_upload %} {{ macros.go_warning(zip.format," zip not uploaded to AWS!") }} {% endif %}
                            {{ zip.path }}
                        </div>
                    {% endfor  %}
                    Tracks:
                    {% for track in album.tracks %}
                        <div class="admin_track">
                            Title: {{ track.title }} <br />
                            Track number: {{ track.number }} <br />
                            Artist: {{ track.artist }} <br />
                            Art: {% if track.art.exists %} {{ track.art.filename }} {% else %} {{ macros.stop_warning('ART MISSING!') }} {% endif %} <br />
                            Source: {% if track.source.exists %} {{ track.source.filename }} {% else %} {{ macros.stop_warning('SOURCE MISSING!') }} {% endif %} <br />
                            {% if not track.encode_worthy %} {{ macros.stop_warning('NOT ENCODE WORTHY!') }} <br /> {% endif %}
                            {% if track.track_num_conflict %} {{ macros.stop_warning('TRACK NUMBER CONFLICT!') }} <br /> {% endif %}
                            Encodes:
                            {% for encode in track.encodes %}
                                <div class="admin_encode">
                                    {% if encode.exists %} {{ macros.good_warning(encode.format," encode created.") }} {% endif %}
                                    {% if not encode.exists %} {{ macros.go_warning(encode.format," encode missing!") }} {% endif %}
                                    {% if encode.need_to_upload %} {{ macros.go_warning(encode.format," encode not uploaded to AWS!") }} {% endif %}
                                </div>
                            {% endfor  %}
                        </div>
                    {% endfor %}
                    Bonus assets:
                    {% if album.bonus_assets|length == 0 %}
                        <div class="admin_bonus">No bonus assets.</div>
                    {% endif %}
                    {% for bonus in album.bonus_assets %}
                        <div class="admin_bonus">
                            Source: {% if bonus.exists %} {{ bonus.filename }} {% else %} {{ macros.stop_warning('SOURCE MISSING!') }} {% endif %} <br />
                        </div>
                    {% endfor %}
                </div> <br />
            {% endfor %}
            <!--
            <br /><br />
            <pre>{{ albums|print_r }}</pre>
            -->
        </div>
    </body>
</html>
