{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-sm-9">
            {% for post in posts %}
                <a class="anchor" id="post-{{post.ID}}"></a>
                <div class="article">
                    <h2 class="h2 post_header"><a href="{{post.link}}">{{post.title}}</a></h2>
                    <p>{{post.content}}</p>
                    {% if post.thumbnail.src %}
                        <img src="{{post.thumbnail.src}}" />
                    {% endif %}
                    {% include "post_info.twig" %}
                </div>
            {% endfor %}
            <div class="tool-pagination">
                <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
                <div class="pages_wrapper">
                    <ul class="pages">
                        {% for page in pagination.pages %}
                            <li>
                                {% if page.link %}
                                    <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                                {% else %}
                                    <span class="{{page.class}}">{{page.title}}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
            </div>
        </div>
        <div class="hidden-xs col-sm-3">
            {% include "sidebar.twig" %}
        </div>
    </div><!-- /container -->
{% endblock %}