{% extends "base.twig" %}

{% block content %}
<div class="container">
    {% for album in store %}
        <div class="col-xs-12 col-sm-4">
            <div class="album_square">
                <img src="{{ album.collection.image.src }}" class="album_image" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <h3>{{ album.collection.title }}</h3>
            <span class="album_year">{{ album.collection.body_html }}</span>
            {% for track in album.products %}
                <div class="track_row">
                    <span class="track_icon_left">{% if track.metafields.track_number > 0 %}{{ track.metafields.track_number }}{% endif %}</span>
                    <span class="track_icon_left">{% if track.metafields.track_number > 0 %}&#9654;{% endif %}</span>
                    <span class="track_title">{{ track.title }}</span>
                    <span class="track_icon_right">
                        <a data-bind="visible: !in_cart({ product_id: {{ track.id }} })" data-toggle="modal" data-target="#product_modal_{{ track.id }}">cart</a>
                        <span data-bind="visible: in_cart({ product_id: {{ track.id }} })">&#x2713;</span>
                    </span>
                    <span class="track_icon_right">${{ track.variants[0].price|number_format }}</span>
                    <span class="track_icon_right">&#x24D8;</span>
                </div>
                <div id="product_modal_{{ track.id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Please select a file type for your download.</h4>
                            </div>
                            <div class="modal-body">
                                {% set variants_json = [] %}
                                {% for variant in track.variants %}
                                    {% set variants_json = variants_json|merge([{ 'format': variant.title, 'id': variant.id }]) %}
                                {% endfor %}
                                {% for variant in track.variants %}
                                    <button onclick='addToCart({{ track.id }},"{{ track.title }}",{{ variant.price|number_format }},{{ variants_json|json_encode() }},{{ variant.id }})'>{{ variant.title }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    {% endfor %}
    <button data-bind="visible: cart().length > 0" data-toggle="modal" data-target="#cart_modal">Show cart</button>
</div>
<div id="cart_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">SHOPPING CART!</h4>
            </div>
            <div class="modal-body">
                <div data-bind="foreach: cart">
                    <div>
                        Name: <span data-bind="text: product_name"></span>
                        Product: <span data-bind="text: product_id"></span>
                        Variant: <span data-bind="text: variant_id"></span>
                        Price: <span data-bind="text: price"></span>
                        <select data-bind="options: variants, value: variant, optionsText: 'format'"></select>
                        <a data-bind="click: $root.remove_product">Remove</a>
                    </div>
                </div>
                Link: <span data-bind="text: checkout_link"></span>
                <a data-bind="attr: { href: checkout_link }, visible: cart().length > 0">CHECKOUT!</a>
            </div>
        </div>
    </div>
</div>
    <pre>{{ store|print_r }}</pre>

    <script type="application/javascript">
        var shopify_domain = "http://jonathan-coulton.myshopify.com";
        function CartItem(product_id,product_name,price,variants,variant) {
            var self = this;
            self.product_id = product_id;
            self.product_name = product_name;
            self.price = price;
            self.variants = ko.observableArray(variants);
            self.variant = ko.observable(variant);
            self.variant_id = ko.computed(function() {
                return self.variant().id;
            });
            self.quantity = ko.observable(1);
        }
        var ViewModel = function(start_cart) {
            var self = this;
            self.cart = ko.observableArray(start_cart);
            self.remove_product = function(product) {
                self.cart.remove(product);
                self.store_local();
            }
            self.checkout_link = ko.computed(function() {
                var link = shopify_domain + "/cart/";
                var comma = "";
                for (var i=0; i<self.cart().length; i++) {
                    link += comma + self.cart()[i].variant_id() + ":" + self.cart()[i].quantity();
                    comma = ",";
                }
                return link;
            });

            self.in_cart = function(product) {
                for (var i=0; i<self.cart().length; i++) {
                    if (self.cart()[i].product_id == product.product_id) {
                        return true;
                    }
                }
                return false;
            }
            self.store_local = function() {
                if(typeof(Storage) !== "undefined") {
                    sessionStorage.setItem('cart',ko.toJSON(self.cart()));
                }
            }
        };

        var start_cart = [];
        if(typeof(Storage) !== "undefined") {
            var stored_cart = JSON.parse(sessionStorage.getItem('cart'));
            for (var i = 0; i < stored_cart.length; i++) {
                start_cart.push(new CartItem(stored_cart[i].product_id,stored_cart[i].product_name,stored_cart[i].price,stored_cart[i].variants,stored_cart[i].variant));
            }
        }
        var myViewModel = new ViewModel(start_cart);
        ko.applyBindings(myViewModel);

        function addToCart(product_id,product_name,price,variants,variant_id) {
            var variant = variants[0];
            for (var i = 0; i < variants.length; i++) {
                if (variants[i].id == variant_id) {
                    variant = variants[i];
                }
            }
            var product = new CartItem(product_id,product_name,price,variants,variant);
            if (!myViewModel.in_cart(product)) {
                myViewModel.cart.push(product);
            }
            $('#product_modal_'+product_id).modal('hide');
            myViewModel.store_local();
        }
    </script>
{% endblock %}