{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="col-sm-12">
			<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
				<section class="article-content">
					<h1 class="article-h1">{{post.title}}</h1>
					{% for faq in faqs %}
						{% if faq.faq_is_header %}
							<h2>{{ faq.title }}</h2>
						{% else %}
							<h3>{{ faq.title }}</h3>
							<p>{{ faq.content }}</p>
						{% endif %}
					{% endfor %}
				</section>
			</article>
		</div>
	</div><!-- /container -->
{% endblock %}