{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">
            {% for post in posts %}
                <div class="article">
                    <h2 class="h2 post_header"><a href="{{post.link}}">{{post.title}}</a></h2>
                    <p>{{post.content}}</p>
                    {% if post.thumbnail.src %}
                        <img src="{{post.thumbnail.src}}" />
                    {% endif %}
                    <div class="post_info">
                        <div class="col-xs-4">
                            <div class="post_date">{{ post.date }}</div>
                            <div class="post_author_name">{{ post.author.name }}</div>
                        </div>
                        <div class="col-xs-3">
                            <div class="post_comment_link">
                                <a href="{{ post.link }}#comments">{{ post.comment_count }} comments</a>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="post_share">
                                Share:
                                <a href="http://twitter.com/share?text='{{ post.title }}' from @jonathancoulton&url={{ post.link }}" target="_blank">Tweet</a>
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}">Facebook</a> <!--Must implement OG tags for more info-->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="tool-pagination">
                {% if pagination.prev %}
                    <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
                {% endif %}
                <ul class="pages">
                    {% for page in pagination.pages %}
                        <li>
                            {% if page.link %}
                                <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                            {% else %}
                                <span class="{{page.class}}">{{page.title}}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% if pagination.next %}
                    <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Next</a>
                {% endif %}
            </div>
        </div>
    </div><!-- /container -->
{% endblock %}