{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="col-sm-12">
			<article class="post-type-{{post.post_type}} article" id="post-{{post.ID}}">
				<section class="article-content">
					<h1 class="article-h1 post_header">{{post.title}}</h1>
					<p class="blog-author">
						<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.post_date|date}}
					</p>
					<div class="article-body">
						{{post.content}}
					</div>
				</section>
				<section id="comments" class="comments">
					<h3 class="h2">Comments</h3>
					<div class="responses">
						{% for cmt in post.get_comments() %}
							{% include "comment.twig" with {comment:cmt} %}
						{% endfor %}
					</div>
					<div class="respond">
						{{ comment_form }}
					</div>
				</section>
			</article>
		</div>
	</div><!-- /container -->
{% endblock %}
