{% include 'html-header.twig' %}
	{% block head %}
    {% endblock %}
    <style>
    </style>
    </head>

    <body class="{{body_class}}" data-template="base.twig">
        <div class="container">
            <h2>Store Sync Info!</h2>
            <br />
            {% if missing_files|length > 0 %}
                Edit the following Fetch Products to add the URLs as external files
                <br />
                {% for fetch_product in missing_files %}
                    <div>{{ fetch_product.fetch_name }}</div>
                    <div>{{ fetch_product.url }}</div>
                    <br /><br />
                {% endfor %}
                Once you have modified the above fetch products,
                <button onclick="window.location.href='{{ site.url }}/custom_admin/store_sync?album=0&step=0'">sync again</button> to link them to our store.<br />
            {% else %}
                Sync to shopify performed successfully. To make these changes appear on our website, you must
                <button onclick="window.location.href='{{ site.url }}/custom_admin/refresh_store'">refresh the store</button><br /><br />
                Or you can do this later and <a href="{{ site.url }}/wp-admin/admin.php?page=theme-general-settings">Return to WP admin page</a>.
            {% endif %}
            <br />
            <!--
            <pre>
                {% for response in album_responses %}
                    {{ response|print_r }}
                {% endfor %}
            </pre>
            -->
        </div>
    </body>
</html>