{% include 'html-header.twig' %}
	{% block head %}
    {% endblock %}
    <style>
    </style>
    </head>

    <body class="{{body_class}}" data-template="base.twig">
        <div class="container">
            <h2>Store Sync Info!</h2>
            <br />
            {% for fileset in missing_files %}
                {% if fileset.zip.url == "" %}
                    Please go back to the <a href="{{ site.url }}/music_admin">music admin page</a> and run the encoder to make the zip file: {{ fileset.zip.filename }}.<br /><br />
                {% else %}
                    Download this ZIP file: <a href="{{ fileset.zip.url }}" download>{{ fileset.zip.filename }}</a><br />
                    And upload the following files to the Jonathan Coulton Fetch account: <br />
                    {% for file in fileset.files %}
                        <strong>{{ file }}</strong>
                        {% if file == fileset.zip.filename %}(the zip file itself){% endif %}
                        <br />
                    {% endfor %}
                {% endif %}
                <br />
            {% endfor %}
            {% if missing_files|length > 0 %}
                Once you have uploaded those files, <button onclick="window.location.href='{{ site.url }}/api/code/store_sync/1'">sync again</button> to link them to our store.<br />
            {% else %}
                Sync performed successfully!<br />
            {% endif %}
            <br />
            {% if unused_files|length > 0 %}
                It is safe to delete the following files from Fetch, provided there is only one of each name:<br />
                {% for file in unused_files %}
                    <strong>{{ file }}</strong><br />
                {% endfor %}
                <br />
            {% endif %}
            <br />
            <pre>
                {% for response in album_responses %}
                    {{ response|print_r }}
                {% endfor %}
            </pre>
        </div>
    </body>
</html>