{% extends "tease.twig" %}

{% block content %}
	<h2 class="h2 post_header"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview(250,false,'<br /><br />(<span class="readmore">click here to read more</span>)',false)}}</p>
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" />
	{% endif %}
	<div class="post_info">
		<div class="col-xs-4">
			<div class="post_date">{{ post.date }}</div>
			<div class="post_author_name">{{ post.author.name }}</div>
		</div>
		<div class="col-xs-3">
			<div class="post_comment_link">
				<a href="{{ post.link }}#comments">{{ post.comment_count }} comments</a>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="post_share">
				Share:
				<a href="http://twitter.com/share?text='{{ post.title }}' from @jonathancoulton&url={{ post.link }}" target="_blank"><img src="{{ theme.link }}/images/social_twitter_grey.svg" class="social_icon social_icon_share" /></a>
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ post.link }}"><img src="{{ theme.link }}/images/social_facebook_grey.svg" class="social_icon social_icon_share" /></a> <!--Must implement OG tags for more info-->
			</div>
		</div>
	</div>
{% endblock %}